/*
Theme: Eyen
Description: Portfolio Site for rem{e}koh
Author: Reme Ekoh
Author URI: http://www.reme.codes
Version: 1.5
*/

/*
Main Color: #5F62A7;

*/

/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
:after,
:before {
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset */

/*  ==================================================================
	Custom Styles Begin - General Styles
================================================================== */

html { height: 100%; }

body {
	line-height: 1.4;
	color: #000;
	font: 1em 'Open Sans', Helvetica, Arial, sans-serif;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

body.space-top {
    padding-top: 4.375em;
}

@media (max-width: 61.938em) {
  body.space-top {
    padding-top: 3.125em;
  }
}

/* Browser Upgrade class */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

input,
select,
textarea {
	font: 1em 'Open Sans', Helvetica, Arial, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	color: #fff;
  background: #5F62A7;
  text-shadow: none;
}

::selection {
	color: #fff;
  background: #5F62A7;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  border: 0;
  border-top: 1px solid #d4dbe0;
  /* margin: 1em 0; */
  padding: 0;
}

/*
 * Default Header rules
 */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: .625em;
	line-height: 1.1em;
}

h1 {
	font-size: 2.25em;
}

@media (max-width: 48em) {
  h1 {
    font-size: 1.500em;
  }
}

h2 {
  font-size: 1.875em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: .875em;
}

h6 {
  font-size: .750em;
}

p {
  margin: 0 0 .688em;
}

a,
a:active,
a:focus,
a:hover {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

ul {
  list-style: none;
}

.prom {
  margin-bottom: 1.375em;
  font-size: 1.0em;
  font-weight: 300;
  line-height: 1.4em;
}

@media (min-width: 48rem) {
  .prom {
    font-size: 1.313em;
  }
}

img {
	vertical-align: middle;
	/* display: block;
	height: auto; */
}

/* Buttons */
[role="button"] {
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-success {
  color: #fff;
  background-color: #62A75F;
  border-color: #62A75F;
}

.btn-success:hover {
  color: #fff;
  background-color: #589655;
  border-color: #589655;
}

.btn-lg,
.btn-group-lg > .btn {
	padding: .625em 1em;
	font-size: 1.125em;
	line-height: 1.3333333;
	border-radius: 6px;
}


/*  ==================================================================
	Grid/Layout
================================================================== */

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: .938em;
	padding-left: .938em;
}

.container:after {
  clear: both;
}

@media (min-width: 48rem) {
	.container { width: 46.938em;}
}

@media (min-width: 62rem) {
	.container {width: 61.875em;}
}

@media (min-width: 78.75rem) {
	.container {width: 76.875em;}
}

.row {
  margin-left: -.938em;
  margin-right: -.938em;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: .938em;
  padding-right: .938em;
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.666667%;
}
.col-10 {
  width: 83.333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.666667%;
}
.col-7 {
  width: 58.333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.666667%;
}
.col-4 {
  width: 33.333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.666667%;
}
.col-1 {
  width: 8.333333%;
}

@media (max-width: 30rem) {
	.col-small {
		width: 100%;
	}
}

.margin-tb {
	margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important;
}

.margin-b {
  margin-bottom: 1.875rem !important;
}

.margin-t {
	margin-top: 1.875rem !important;
}

/*  ==================================================================
Header - Navigation
================================================================== */

.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px ridge #ccc;
  z-index: 100;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.sticky-header .logo,
.sticky-header .logo-mobile {
  display: block;
  max-width: 205px;
  /* width: 100%; */
  height: auto;
  float: left;
  margin-top: 26px;
  margin-left: 10px;
}

.sticky-header .logo img,
.sticky-header .logo-mobile img {
  max-width: 100%;
}

@media (max-width: 48em) {
  .sticky-header .logo,
  .sticky-header .logo-mobile {
    margin-bottom: 1em;
  }
}

.sticky-header .logo-mobile {
  display: none;
  max-width: 50px;
}

@media (max-width: 61.938em) {
  .sticky-header {
    position: absolute;
  }
}

@media (max-width: 28.750em) {
  .sticky-header .logo {
    display: none;
  }
  .sticky-header .logo-mobile {
    display: block;
  }
}

.main-navi {
  float: right;
}

.main-navi span {
  display: none;
}

.main-navi ul {
  margin: 0;
  padding: 0;
}

.main-navi ul li:before {
  display: none;
}

.main-navi ul li {
  display: block;
  position: relative;
  float: left;
  margin: 0 10px;
}

.main-navi ul li a {
  display: block;
  padding: 30px 5px;
  border-top: 4px solid transparent;
  color: #313447;
  font-size: 1.2em;
  font-weight: 300;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-navi ul li:hover a {
  color: #62a75f;
  text-decoration: none;
}

.main-navi ul li.active a {
  color: #62a75f;
  border-top: 4px solid #62a75f;
}

@media (max-width: 61.938em) {
  .main-navi {
    display: none;
    overflow: hidden;
    width: 100%;
    float: none;
    position: absolute;
    top: 89px;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #5F62A7;
    z-index:100;
  }
  .main-navi ul li {
    display: block;
    width: 100%;
    float: none;
    margin: 13px 0;
  }
  .main-navi ul li a {
    display: block;
    width: 100%;
    padding: 5px 15px 5px 25px;
    border-top: none;
    border-left: 4px solid transparent;
    color: #313447;
    font-size: 1.2em;
    font-weight: 300;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .main-navi ul li a:hover {
    color: #5F62A7;
    text-decoration: none;
  }
  .main-navi ul li.active a {
    color: #5F62A7;
    border-top: none;
    border-left: 4px solid #5F62A7;
  }
}

.navi-toggle {
  display: none;
  width: 29px;
  float: right;
  cursor: pointer;
  margin: 35px 0 0 18px;
}

.navi-toggle span {
  display: block;
  float: left;
  background-color: #313447;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.navi-toggle:hover span {
  background-color: #464962;
}

.navi-toggle .dot {
  width: 4px;
  height: 4px;
  margin: 0 2px 2px 0;
}

.navi-toggle .line {
  width: 23px;
  height: 4px;
  margin-bottom: 2px;
}

/*  ==================================================================
Profile Section
================================================================== */

#profile {
	background-image:
	linear-gradient(rgba(95, 98, 167, 0.85), rgba(95, 98, 167, 0.85)),
	url(../images/Houston_Skyline.jpg);
	border-bottom: .063rem ridge #555896;
	margin-top: 1.125em;
}

@media (max-width: 61.938em) {
  #profile {
    margin-top: 0;
  }
}

.profile-header {
  position: relative;
  display: table;
  width: 100%;
  height: 18.75em;
  padding-bottom: 3em;
  margin-bottom: 0;
  text-align: center;
  background-size: cover;
  border: 0;
}

@media (min-width : 30rem) {
	.profile-header {
		height: 25em;
	}
}

@media (min-width : 48rem) {
	.profile-header {
		height: 31.25em;
	}
}

.profile-header .container {
	display: table-cell;
  width: 1000000px;
  text-align: center;
  vertical-align: middle;
}

.profile-header .profile-inner {
	max-width: 18.75em;
	margin: 0 auto;
}

.profile-image {
	display: inline-block;
	width: 80px;
	margin-right: 0;
	border-radius: 100%;
	border: .063rem solid #5F62A7;
	box-shadow: 0 0 0 6px #fff;
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	animation-duration: 3s;
}

@media (max-width: 41.69rem) {
	.profile-image { margin-top: 1.875em; }
}

@media (min-width: 48rem) {
	.profile-image { width: 6.875em; }
}

.profile-name {
	text-transform: none;
	/* margin-top: 1.250em; */
	margin-bottom: .25em;
	font-family: 'Sofia', cursive;
	color: #fff;
}

.profile-desc {
	font-weight: 500;
	font-size: 1.0em;
	color: #fff;
	margin-bottom: 1.0em;
}

.hire { font-family: 'Roboto', Helvetica, Arial, sans-serif; }

 /*==================================================================
	Sections
==================================================================*/

.section-title {
  margin-bottom: 10px;
  padding-top: 20px;
	text-align: center;
	letter-spacing: 0;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
  color: #454545;
  font-weight: 300;
	position: relative;
	letter-spacing: 0.1em;
}

.line-color {
	display: block;
	width: 10em;
	height: .063em;
	background: #5F62A7;
	margin: 0 auto;
	margin-bottom: 2.5em;
	opacity: .8;
}

@media (max-width: 48rem) {
	.line-color {	margin-bottom: 1.5em; }
}

/* ==================================================================
	About Section
================================================================== */

.about{
	margin-top: 1.875rem !important;
	text-align: center;
}

.consult {
	text-decoration: line-through;
}

.creative {
	color: #5F62A7;
  font-weight: bold;
}

.prom a {
	color: #62a75f;
	text-decoration: none;
}

.prom a:hover {
	color: #62a75f;
	border-bottom: .08rem solid #62a75f;
}

.about h3 {
	text-transform: none;
	font: 1em 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 22px;
}

@media (min-width: 48em) {
	.about h3 {
		font: 1.313em 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
	}
}

.about h4 {
	color:#5F62A7;
	font-size: 21px;
	text-transform: none;
  margin: .688em 0;
}

.service {
	border: 1px solid #eee;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	line-height: 89px;
	margin: 0 auto;
}

.fa { color: #5F62A7; }

/* ==================================================================
  Quote
================================================================== */

.q {
  width: 75%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

blockquote {
  margin: 0;
}

.quote {
  padding: .500em 1em;
  margin-bottom: 0;
  border-left: none;
  text-align: center;
}

.quote h3 {
  margin-top: 1.375em;
  margin-bottom: 0;
  text-transform: none;
  font-size: 1.400em;
}

@media (min-width: 48rem){
  .quote h3 {
    /* margin-top: 1.375em;
    margin-bottom: 0;
    text-transform: none; */
    font-size: 1.625em;
  }
}

.quote-footer {
  display: block;
  color: #818a91;
}

.quote-footer:before {
  content: "\2014 \00A0";
}

/* ==================================================================
	Projects Section
================================================================== */

.card {
  position: relative;
  display: block;
  margin-bottom: .75em;
  background-color: #fff;
  border-radius: .25em;
  border: 1px solid #e5e5e5;
}

.card-block {
  padding: 1.25em;
  text-align: center;
}

.card-block::after {
  content: "";
  display: table;
  clear: both;
}

.card-title {
  margin-bottom: .75rem;
  color: #5F62A7;
}

.card-text:last-child {
  margin-bottom: 0
}

.card-img-top {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  width: 100%;
  display: block;
}

@media (min-width: 34rem) {
  .card-deck {
    display: table;
    width: 100%;
    margin-bottom: .75em;
    table-layout: fixed;
    border-spacing: 1.25em 0;
  }

  .card-deck .card {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: top;
  }

  .card-deck-wrapper {
    margin-right: -1.25em;
    margin-left: -1.25em;
  }
}

.card-deck-wrapper {
  padding-left: .938em;
  padding-right: .938em;
}

/* ==================================================================
	Social Media
================================================================== */

.social-icons {
	margin: 0 auto;
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
	height: 3.125em;
	margin-top: -1.250em;
	margin-bottom: 2.5em;
	margin-left: -1.250em;
}

.social-icons li {
	margin: 0;
	display: inline-block;
	padding: .625em;
}

.social-icons li a {
	display: block;
	background: transparent;
	position: relative;
	width: 3.125em;
	height: 3.125em;
	text-align: center;
	line-height: 3.125em;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-bottom: none;
}

.social-icons li a i.fa {
	line-height: 50px;
	font-size: 2.188em;
}

.social-icons a.linkedin:hover {	background: #0077B5; }

.social-icons a.linkedin i.fa { color: #0077B5; }

.social-icons a.github:hover { background: #000; }

.social-icons a.github i.fa { color: #000; }

.social-icons li a:hover i.fa { color: #fff; }

.social-icons a.twitter:hover { background: #55acee; }

.social-icons a.twitter i.fa { color: #55acee; }

/* ==================================================================
	Footer
================================================================== */

.footer {
	position: relative;
	text-align: center;
	border-top: .063rem dashed #5F62A7;
	padding-top: .938em;
	padding-bottom: .938em;

}

.footer p {
	margin-bottom: -.188em;
}

/* ==================================================================
	Extra
================================================================== */

.brand { color: #5F62A7; }

/* ==========================================================================
 Helper classes
 ========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 33.938em) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 34em) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 47.938em) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 48em) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 61.938em) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 62em) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 74.938em) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 75em) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 http://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print,
 	(-webkit-min-device-pixel-ratio: 1.25),
 	(min-resolution: 1.25dppx),
 	(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                            	 http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

