/*
Theme: Eyen
Description: Portfolio Site for rem{e}koh
Author: Reme Ekoh
Author URI: http://www.reme.codes
Version: 1.5
*/

/*
Main Color: #5C6BC0;

*/

/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
:after,
:before {
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 25px 0;
  table-layout: fixed;
  width: 100%;
}
/* End of reset */

/*  ==================================================================
	Custom Styles Begin - General Styles
================================================================== */

html { height: 100%; }

body {
	line-height: 1.4em;
	color: #212121;
	font: 1em -apple-system, Open Sans, Helvetica, Arial, sans-serif;
	background: #fafafa;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

body.space-top {
    padding-top: 4.375em;
}

@media (max-width: 61.938em) {
  body.space-top {
    padding-top: 3.125em;
  }
}

/* Browser Upgrade class */

.browserupgrade {
  margin: 0.2em 0;
  background: #cfd8dc;
  color: #212121;
  padding: 0.2em 0;
}

input,
select,
textarea {
	font: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	color: #fafafa;
  background: #5C6BC0;
  text-shadow: none;
}

::selection {
	color: #fafafa;
  background: #5C6BC0;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  border: 0;
  border-top: 1px solid #cfd8dc;
  /* margin: 1em 0; */
  padding: 0;
}

/*
 * Default Header rules
 */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: .625em;
	line-height: 1.1em;
}

h1 {
	font-size: 2.25em;
}

@media (max-width: 48em) {
  h1 {
    font-size: 1.500em;
  }
}

h2 {
  font-size: 1.875em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: .875em;
}

h6 {
  font-size: .750em;
}

p {
  margin: 0 0 .688em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a,
a:active,
a:focus,
a:hover {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

ul {
  list-style: none;
}

.prom {
  margin-bottom: 1.375em;
  font-size: 1.0em;
  font-weight: 300;
  line-height: 1.4em;
}

@media (min-width: 48rem) {
  .prom {
    font-size: 1.313em;
  }
}

img {
	vertical-align: middle;
	/* display: block;
	height: auto; */
}

.valign-outer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table;
  position: static;
}

.valign-middle {
  top: 50%;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: static;
}

.valign-inner {
  position: relative;
  top: -50%;
}

/* Buttons */
[role="button"] {
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-success {
  color: #fafafa;
  background-color: #00C853;
  border-color: #00C853;
}

.btn-success:hover {
  color: #fafafa;
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.btn-lg,
.btn-group-lg > .btn {
	padding: .625em 1em;
	font-size: 1.125em;
	line-height: 1.3333333;
	border-radius: 6px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: .313em .50em;
  font-size: 1em;
  line-height: 1.25;
  border-radius: 3px;
}

.button-group{
  position: relative;
  display: inline-block;
  vertical-align: middle
}

@media (max-width: 50em) {
   .button-group a:first-child {
    margin-bottom: 0.50em;
   }
}

@media (min-width: 35.5em) and (max-width: 48em) {
   .button-group > .hidden-md-up {
    margin-bottom: 0.50em;
   }
}

.pbtn {
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*  ==================================================================
	Grid/Layout
================================================================== */

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: .938em;
	padding-left: .938em;
}

.container:after {
  clear: both;
}

@media (min-width: 48em) {
	.container { width: 46.938em;}
}

@media (min-width: 62em) {
	.container {width: 61.875em;}
}

@media (min-width: 78.75em) {
	.container {width: 76.875em;}
}

.row {
  margin-left: -.938em;
  margin-right: -.938em;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: .938em;
  padding-right: .938em;
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.666667%;
}
.col-10 {
  width: 83.333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.666667%;
}
.col-7 {
  width: 58.333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.666667%;
}
.col-4 {
  width: 33.333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.666667%;
}
.col-1 {
  width: 8.333333%;
}

@media (max-width: 30em) {
	.col-small {
		width: 100%;
	}
}

.margin-tb {
	margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important;
}

.row-margin-b {
  margin-bottom: .938rem !important;
}

@media (max-width: 47.938em) {
  .row-margin-b {
    margin-bottom: 0 !important;
  }
}

.margin-b {
  margin-bottom: 1.875rem !important;
}

.margin-t {
	margin-top: 1.875rem !important;
}

/*  ==================================================================
Header - Navigation
================================================================== */

.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: #fafafa;
  min-height: 3.125em;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.12), 0 1px 4px rgba(33, 33, 33, 0.24);
  z-index: 1030;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.sticky-header .logo,
.sticky-header .logo-mobile {
  display: block;
  max-width: 205px;
  /* width: 100%; */
  height: auto;
  float: left;
  margin-top: 26px;
  margin-left: 10px;
}

.sticky-header .logo-mobile {
  display: none;
  max-width: 50px;
  margin-top: 1.125em;
  margin-left: 0;
}

.sticky-header .logo img,
.sticky-header .logo-mobile img {
  max-width: 100%;
}

/* @media (max-width: 48em) {
  .sticky-header .logo,
  .sticky-header .logo-mobile {
    margin-bottom: 1em;
  }
} */

@media (max-width: 61.938em) and (min-width: 47.938em) {
  .sticky-header .logo {
    margin-top: 0.969em;
    margin-left: 0;
  }
}

@media (max-width: 61.938em) {
  .sticky-header {
    position: absolute;
  }
}

@media (max-width: 28.750em) {
  .sticky-header .logo {
    display: none;
  }
  .sticky-header .logo-mobile {
    display: block;
  }
}

.main-navi {
  float: right;
}

.main-navi span {
  display: none;
}

.main-navi ul {
  margin: 0;
  padding: 0;
}

.main-navi ul li:before {
  display: none;
}

.main-navi ul li {
  display: block;
  position: relative;
  float: left;
  margin: 0 10px;
}

.main-navi ul li a {
  display: block;
  padding: 30px 5px;
  border-top: 4px solid transparent;
  color: #263238;
  font-size: 1.2em;
  font-weight: 300;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-navi ul li:hover a {
  color: #4CAF50;
  text-decoration: none;
}

.main-navi ul li.active a {
  color: #00C853;
  border-top: 4px solid #00C853;
}

@media (max-width: 61.938em) {
  .main-navi {
    display: none;
    overflow: hidden;
    width: 100%;
    float: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fafafa;
    border-bottom: 1px solid transparent;
    z-index:100;
  }
  .main-navi.open {
    display: block
  }
  .main-navi ul li {
    display: block;
    width: 100%;
    float: none;
    margin: 13px 0;
  }
  .main-navi ul li a {
    display: block;
    width: 100%;
    padding: 5px 15px 5px 25px;
    border-top: none;
    border-left: 4px solid transparent;
    color: #263238;
    font-size: 1.2em;
    font-weight: 300;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .main-navi ul li a:hover {
    color: #4CAF50;
    text-decoration: none;
  }
  .main-navi ul li.active a {
    color: #00C853;
    border-top: none;
    border-left: 4px solid #00C853;
  }
}

.navi-toggle {
  position: relative;
  float: right;
  padding:  9px 10px;
  margin-top: 0.781em;
  margin-bottom: 0.781em;
  background-color: transparent;
  border: 1px solid #00C853;
  border-radius: 4px;
}

.navi-toggle .line {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #00C853;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.navi-toggle .line + .line {
  margin-top: 4px;
}

/* .navi-toggle span {

  float: left;

  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
} */

.navi-toggle:hover span {
  background-color: #4CAF50;
}

.navi-toggle:hover {
  border-color: #4CAF50;
}



/*  ==================================================================
Profile Section / Portfolio Header
================================================================== */

#profile {
	background-image:
	linear-gradient(rgba(92, 107, 192, 0.80), rgba(92, 107, 192, 0.80)),
	url(../images/Houston_Skyline.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	border-bottom: .063rem ridge #5260ac;
	margin-top: 1.125em;
}

#portWar {
  background-image:
  linear-gradient(rgba(92, 107, 192, 0.80), rgba(92, 107, 192, 0.80)),
  url(../images/war_official_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: .063rem ridge #5260ac;
  /* margin-top: 1.125em; */
}

#portHM {
  background-image:
  linear-gradient(rgba(92, 107, 192, 0.80), rgba(92, 107, 192, 0.80)),
  url(../images/HM_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: .063rem ridge #5260ac;
  /* margin-top: 1.125em; */
}

@media (max-width: 28.750em) {
  #portHM,
  #portWar {
    margin-top: 0;
  }
}

@media (max-width: 61.938em) {
  #profile {
    margin-top: 0;
  }
}

.profile-header {
  position: relative;
  display: table;
  width: 100%;
  height: 18.75em;
  padding-bottom: 3em;
  margin-bottom: 0;
  text-align: center;
  background-size: cover;
  border: 0;
}

@media (min-width : 30em) {
	.profile-header {
		height: 25em;
	}
}

@media (min-width : 48em) {
	.profile-header {
		height: 31.25em;
	}
}

.profile-header .container,
.portfolio-header .container {
	display: table-cell;
  width: 1000000px;
  text-align: center;
  vertical-align: middle;
}

.profile-header .profile-inner {
	max-width: 18.75em;
	margin: 0 auto;
}

.portfolio-inner {
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

.port {
  margin: 0 0 .688em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 1.6em;
  text-align: justify;
}

@media (max-width: 48rem) {
  .portfolio-inner { margin-top: 0; }
}

.profile-image {
	display: inline-block;
	width: 80px;
	margin-right: 0;
	border-radius: 100%;
	border: .063rem solid #5C6BC0;
	box-shadow: 0 0 0 6px #fafafa;
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	animation-duration: 3s;
}

@media (max-width: 41.69em) {
	.profile-image { margin-top: 1.875em; }
}

@media (min-width: 48em) {
	.profile-image { width: 6.875em; }
}

.profile-name {
	text-transform: none;
	/* margin-top: 1.250em; */
	margin-bottom: .25em;
	font-family: 'Sofia', cursive;
	color: #fafafa;
}

.site-name {
  /* margin-top: 1.250em;
  margin-bottom: 1.563em; */
  font-family: 'Crimson Text', serif;
  font-size: 3.4em;
  line-height: 1.2em;
  text-transform: none;
  color: #fafafa;
}

.profile-desc {
	font-weight: 500;
	font-size: 1.0em;
	color: #fafafa;
	margin-bottom: 1.0em;
}

.site-desc {
  font-family: 'Crimson Text', serif;
  /* font-weight: 900; */
  font-size: 1.6em;
  line-height: 1.4em;
  font-style: italic;
  color: #fafafa;
  margin-bottom: 0.5em;
}

.hire { font-family: 'Roboto', Helvetica, Arial, sans-serif; }

 /*==================================================================
	Sections
==================================================================*/

.section-title,
.portfolio-title {
  margin-bottom: 10px;
  padding-top: 20px;
	text-align: center;
	letter-spacing: 0;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
  color: #424242;
  font-weight: 300;
	position: relative;
	letter-spacing: 0.1em;
}

h2.portfolio-title {
  font-size: 0.938em;
  margin-bottom: 0.875em;
  color:#5C6BC0;
  font-weight: bold;
  text-align: justify;
}

.line-color {
	display: block;
	width: 10em;
	height: .063em;
	background: #5C6BC0;
	margin: 0 auto;
	margin-bottom: 2.5em;
	opacity: .8;
}

@media (max-width: 48em) {
	.line-color {	margin-bottom: 1.5em; }
}

/* ==================================================================
	About Section
================================================================== */

.about,
.aboutProject{
	margin-top: 1.875rem !important;
	text-align: center;
}

/* .aboutProject{
  text-align: justify;
} */

.p {
  width: 75%;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

@media (max-width: 48em) {
  .p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
}

.projectImage,
.wireFrame {
  margin-top: 1.25em;
  display: block;
  max-width: 100%;
  height: auto;
}

.wireFrame:last-child {
  margin-bottom: 1.25em;
}

@media (max-width: 48em) {
  .wireFrame {
    margin-bottom: 0.50em !important;
  }
  .wireFrame:last-child {
    margin-top: 0.50em;
    margin-bottom: 0.50em !important;
  }
}

.projectImage {
  border-radius: .25em;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.12), 0 1px 4px rgba(33, 33, 33, 0.24);
  text-align: center !important;
  display: inline-block;
}


.consult {
	text-decoration: line-through;
}

.creative {
	color: #5C6BC0;
  font-weight: bold;
}

.prom a {
	color: #00C853;
	text-decoration: none;
}

.prom a:hover {
	color: #00C853;
	border-bottom: .08rem solid #00C853;
}

.about h3 {
	text-transform: none;
	font: 1em -apple-system, Open Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 22px;
}

@media (min-width: 48em) {
	.about h3 {
		font: 1.313em -apple-system, Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 300;
	}
}

.about h4 {
	color:#5C6BC0;
	font-size: 21px;
	text-transform: none;
  margin: .688em 0;
}

.service {
	border: 1px solid #cfd8dc;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	line-height: 89px;
	margin: 0 auto;
}

.fa { color: #5C6BC0; }

/* ==================================================================
  Quote
================================================================== */

.q {
  width: 75%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

blockquote {
  margin: 0;
}

.quote {
  padding: .500em 1em;
  margin-bottom: 0;
  border-left: none;
  text-align: center;
}

.quote h3 {
  margin-top: 1.375em;
  margin-bottom: 0;
  text-transform: none;
  font-size: 1.400em;
}

@media (min-width: 48em){
  .quote h3 {
    /* margin-top: 1.375em;
    margin-bottom: 0;
    text-transform: none; */
    font-size: 1.625em;
  }
}

.quote-footer {
  display: block;
  color: #78909C;
}

.quote-footer:before {
  content: "\2014 \00A0";
}

/* ==================================================================
	Projects Section
================================================================== */

.card {
  position: relative;
  display: block;
  margin-bottom: 1.25em;
  background-color: #fafafa;
  border-radius: .25em;
  /* border: 1px solid #e0e0e0; */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.card-block {
  padding: 1.25em;
  text-align: center;
}

.card-block::after {
  content: "";
  display: table;
  clear: both;
}

.card-title {
  -webkit-margin-before: 0em;
  margin-bottom: .75rem;
  color: #5C6BC0;
}

.card-text {
  margin-bottom: 1em;
}

.card-text:last-child {
  margin-bottom: 0
}

.card-img-top {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  width: 100%;
  display: block;
}

@media (min-width: 34em) {
  .card-deck {
    display: table;
    width: 100%;
    margin-bottom: .75em;
    table-layout: fixed;
    border-spacing: 1.25em 0;
  }

  .card-deck .card {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: top;
  }

  .card-deck-wrapper {
    margin-right: -1.25em;
    margin-left: -1.25em;
  }
}

.card-deck-wrapper {
  padding-right: .938em;
  padding-left: .938em;

}

/* ==================================================================
  Availability Section
================================================================== */

.calAvailable {
  background-color: #fafafa;
  border-radius: .25em;
  position: relative;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.12), 0 1px 4px rgba(33, 33, 33, 0.24);
  margin-right: .938em;
  margin-left: .938em;
}

.calAvailable .calendar-cont {
  padding: 2.188em 2.188em 0 2.188em;
  margin-left: 35%;
}

.calAvailable .calendar-header {
  margin-bottom: 15px;
}

.calAvailable .calendar-header:before, .calAvailable .calendar-header:after {
  content: " ";
  display: table;
}

.calAvailable .calendar-header:after {
  clear: both;
}

.calAvailable .calendar-header {
  *zoom: 1;
}

.calAvailable .calendar-today {
  color: #fafafa;
  line-height: 1;
  font-weight: 300;
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
  text-align: center;
  background-image: url('../images/Office_Desk.jpg');
  background-size: cover;
  background-color: #263238;
  background-repeat: no-repeat;
  background-position: center center;
}

.calAvailable .calendar-today:after {
  z-index: 1;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(44, 51, 64, 0.8);
}

.calAvailable .calendar-today .valign-outer {
  z-index: 2;
  position: relative;
}

.calAvailable .calendar-today .date {
  background-color: #5c6bc0;
  position: relative;
  margin: 0 auto 13%;
  width: 53%;
  padding: 11% 5%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.calAvailable .calendar-today .date:before, .calAvailable .calendar-today .date:after {
  content: '';
  position: absolute;
  top: -6px;
  width: 3px;
  height: 12px;
  background-color: #fafafa;
  -webkit-border-radius: 38%;
  -moz-border-radius: 38%;
  border-radius: 38%;
}

.calAvailable .calendar-today .date:before {
  left: 30%;
}

.calAvailable .calendar-today .date:after {
  right: 30%;
}

.calAvailable .calendar-today .day {
  font-size: 4.625em;
  display: block;
  margin-bottom: 8px;
}

.calAvailable .calendar-today .month {
  display: block;
  font-size: 2.063em;
  letter-spacing: 0.2em;
}

.calAvailable .calendar-today .week-day {
  font-size: 2.250em;
  letter-spacing: 0.08em;
}

.calAvailable .calendar-nav {
  float: left;
  padding: 0 1.563em;
  position: relative;
  font-size: 1em;
  line-height: 1.1;
}

.calAvailable .calendar-nav .active-date {
  color: #263238;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  width: 9.063em;
  text-align: center;
}

.calAvailable .calendar-nav .active-month,
.calAvailable .calendar-nav .active-year {
  opacity: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: -moz-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.calAvailable .calendar-nav .active-month.moveup,
.calAvailable .calendar-nav .active-year.moveup {
  opacity: 0;
  -webkit-transform: translate3d(0px, -20px, 0px);
  -moz-transform: translate3d(0px, -20px, 0px);
  transform: translate3d(0px, -20px, 0px);
}

.calAvailable .calendar-nav .active-month.movedown,
.calAvailable .calendar-nav .active-year.movedown {
  opacity: 0;
  -webkit-transform: translate3d(0px, 20px, 0px);
  -moz-transform: translate3d(0px, 20px, 0px);
  transform: translate3d(0px, 20px, 0px);
  -webkit-transition: -webkit-transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: -moz-transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.calAvailable .calendar-nav .active-month {
  margin-right: 7px;
}

.calAvailable .calendar-nav .calendar-next,
.calAvailable .calendar-nav .calendar-prev {
  top: -1px;
  position: absolute;
  display: block;
  cursor: pointer;
}

.calAvailable .calendar-nav .calendar-next {
  right: -3px;
}

.calAvailable .calendar-nav .calendar-prev {
  left: -3px;
}

.calAvailable .calendar-nav .fa {
  color: #00c853;
  font-size: 1em;
}

.calAvailable .calendar-body {
  border: none;
}

.calAvailable .calendar-body th,
.calAvailable .calendar-body td {
  width: 14.2857%;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.calAvailable .calendar-body th {
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding: 13px 5px;
}

.calAvailable .calendar-body td {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
}

.calAvailable .calendar-body td span {
  width: 2.250em;
  height: 2.250em;
  line-height: 2.250em;
  display: block;
  margin: 0 auto;
}

.calAvailable .calendar-body td .busy-day,
.calAvailable .calendar-body td .current-day {
  color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.calAvailable .calendar-body td .current-day {
  background-color: #5c6bc0 !important;
}

.calAvailable .calendar-body td .busy-day {
  background-color: #F44336 !important;
}

.calAvailable .calAvailable-note {
  color: #424242;
  font-size: 12px;
  line-height: 1.25;
  border-top: 1px solid #CFD8DC;
  padding: 18px 0 18px 35px;
  margin: 0 12px;
  position: relative;
}

.calAvailable .calAvailable-note:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 0;
  width: 14px;
  height: 14px;
  margin: 18px 0;
  background-color: #F44336;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.calAvailable .calendar-body {
  overflow: hidden;
}

.calAvailable .calendar-tbody {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.calAvailable .calendar-tbody.moveright {
  opacity: 0;
  transform: translate3d(-50px, 0px, 0px);
}

.calAvailable .calendar-tbody.moveleft {
  opacity: 0;
  transform: translate3d(50px, 0px, 0px);
  transition: transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@media (max-width: 47.938em) {
  .calAvailable .calendar-body th {
    font-size: 11px;
  }

  .calAvailable .calendar-body td {
    font-size: 14px;
  }

  .calAvailable .calendar-body td span {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .calAvailable .calendar-today {
    width: 40%;
  }

  .calAvailable .calendar-today .date {
    width: 63%;
  }

  .calAvailable .calendar-today .week-day {
    font-size: 29px;
  }

  .calAvailable .calendar-cont {
    margin-left: 40%;
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 30em) {
  .calAvailable .calendar-nav {
    float: none;
    text-align: center;
  }

  .calAvailable .calendar-today {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    padding: 20px 15px;
  }

  .calAvailable .calendar-today .date {
    padding: 0;
    background: none !important;
    margin-bottom: 15px;
  }

  .calAvailable .calendar-today .date:before, .calAvailable .calendar-today .date:after {
    display: none;
  }

  .calAvailable .calendar-today .day,
  .calAvailable .calendar-today .month {
    display: inline-block;
    font-size: 45px;
    letter-spacing: 0;
    margin: 0 5px;
  }

  .calAvailable .calendar-today .week-day {
    font-size: 25px;
  }

  .calAvailable .calendar-cont {
    margin-left: 0;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  clear: both;
}

/* ==================================================================
	Social Media
================================================================== */

.social-icons {
	margin: 0 auto;
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
	height: 3.125em;
	margin-top: -1.250em;
	margin-bottom: 2.5em;
	margin-left: -1.250em;
}

.social-icons li {
	margin: 0;
	display: inline-block;
	padding: .625em;
}

.social-icons li a {
	display: block;
	background: transparent;
	position: relative;
	width: 3.125em;
	height: 3.125em;
	text-align: center;
	line-height: 3.125em;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-bottom: none;
}

.social-icons li a i.fa {
	line-height: 50px;
	font-size: 2.188em;
}

.social-icons a.linkedin:hover {	background: #0277BD; }

.social-icons a.linkedin i.fa { color: #0277BD; }

.social-icons a.github:hover { background: #212121 }

.social-icons a.github i.fa { color: #212121; }

.social-icons li a:hover i.fa { color: #fafafa; }

.social-icons a.twitter:hover { background: #64B5F6; }

.social-icons a.twitter i.fa { color: #64B5F6; }

/* ==================================================================
	Footer
================================================================== */

.footer {
	position: relative;
	text-align: center;
	border-top: .063rem dashed #5C6BC0;
	padding-top: .938em;
	padding-bottom: .938em;

}

.footer p {
	margin-bottom: -.188em;
}

/* ==================================================================
	Extra
================================================================== */

.brand { color: #5C6BC0; }

/* ==========================================================================
 Helper classes
 ========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 33.938em) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 34em) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 47.938em) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 48em) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 61.938em) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 62em) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 74.938em) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 75em) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 http://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print,
 	(-webkit-min-device-pixel-ratio: 1.25),
 	(min-resolution: 1.25dppx),
 	(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                            	 http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

